<p id="notice"><%= notice %></p>

<h1>Representators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @representators.each do |representator| %>
      <tr>
        <td><%= representator.name %></td>
        <td><%= representator.address %></td>
        <td><%= representator.tel %></td>
        <td><%= link_to 'Show', representator %></td>
        <td><%= link_to 'Edit', edit_representator_path(representator) %></td>
        <td><%= link_to 'Destroy', representator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Representator', new_representator_path %>
